@tailwind base;
@tailwind components;
@tailwind utilities;

/* Minimal Markdown Styling Overrides */
@layer base {

    em,
    i {
        font-style: italic !important;
    }

    strong,
    b {
        font-weight: bold !important;
    }
}